<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
 
	<!-- <servlet>
		<servlet-name>addServletConfig</servlet-name>
		<servlet-class>com.murtaza.AddServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>addServletConfig</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet>
		<servlet-name>squareServletConfig</servlet-name>
		<servlet-class>com.murtaza.SquareServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>squareServletConfig</servlet-name>
		<url-pattern>/sq</url-pattern>
	</servlet-mapping>
	
	
	
	
	<servlet>
		<servlet-name>ServiceConfigAndContextDemo</servlet-name>
		<servlet-class>com.murtaza.MyServlet</servlet-class>
		
		<init-param>
			<param-name>name</param-name>
			<param-value>Murtaza Multan</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ServiceConfigAndContextDemo</servlet-name>
		<url-pattern>/sc_tx_g</url-pattern>
	</servlet-mapping>
	
	<context-param>
		<param-name>name</param-name>
		<param-value>Murtaza</param-value>	</context-param>
	
	<context-param>
		<param-name>Phone</param-name>
		<param-value>Samsung</param-value>
	</context-param> -->
</web-app>